<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- check this if you can't connect to your DB or if HibernateUtil isn't 
			working -->
		
		<!--  testing 
		<property name="hibernate.connection.url">jdbc:postgresql://nova-pl-revature.ctyzbcb7ljba.us-east-1.rds.amazonaws.com:5432/jwa200810</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">r3vaTURE</property>
		<property name="hibernate.default_schema">public</property> -->
		
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">true</property>

		<!--  
		This is now done in cfg in HibernateUtil
		<property name="hibernate.default_schema">public</property>
		 -->
		<property name="hibernate.hbm2ddl.auto">create</property>

		<!-- Configuration for annotation based mapping -->
		<mapping class="com.revature.models.User" />
		<mapping class="com.revature.models.Review" />

	</session-factory>
</hibernate-configuration>