<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
		<!-- 
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">churknam</property>
		<property name="hibernate.connection.url">jdbc:postgresql://training.cyrobrynznqt.us-east-2.rds.amazonaws.com:5432/postgres</property>
		 -->
		 
		 <!-- check this if you can't connect to your DB or if HibernateUtil isn't working -->
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<property name="hibernate.default_schema">public</property>
		<property name="hibernate.hbm2ddl.auto">create-drop</property>
		
		<!-- Configuration for annotation based mapping -->
		<mapping class="com.revature.models.Brewery"/>
		<mapping class="com.revature.models.Review"/>
		<mapping class="com.revature.models.User"/>

	</session-factory>
</hibernate-configuration>